<div class="container">
  <div class='row'>
    <div class="col-md-12">
      <%= form_with model: @post, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
          <div class = 'form-group'>
            <%= f.label :genre %> <span class="input-need">※必須</span>
            <%= f.select :genre, Post.genres.keys %>
          </div>
          <div class = 'form-group'>
            <%= f.label :content %> <span class="input-need">※必須</span>
            <%= f.text_area :content %>
          </div>
          <span class='picture'>
          <%= f.label :picture %> <span class="input-unneed">※任意</span>
          <%= f.file_field :picture, accept: 'image/jpeg,image/png', class: 'form-control', id: 'dish_picture' %>
          </span>
          <%= f.submit nil, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

