<div class="container">
  <div class='row'>
    <div class="col-md-10">
      <li id="post-<%= post.id %>">
        <%= link_to gravatar_for(post.user, size: 40), post.user %>
        <p>(<%= post.genre %>)</p>
        <p class="content"><%= link_to post.content, post_path(post) %></p>
        <span>
        <%= link_to((image_tag post.picture.url), post_path(post.id), class: 'post-picture') if post.picture.url.present? %>
        </span>
        <span class="timestamp">
          <%= time_ago_in_words(post.created_at) %>前に投稿
        </span>
        <% if current_user.admin? || (current_user == post.user) %>
          <%= link_to "削除", post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      </li>
    </div>
  </div>
</div>