<% provide(:title, '投稿一覧') %>
<div id="fh5co-portfolio">
  <div class="container">
    <%#= link_to "others" , "posts/ot_post" %>
    <% if @search_word.present? %>
      <h3>”<%= @search_word %>”の検索結果：<%= @posts.count %>件</h3>
    <% else %>
      <h3>投稿一覧 (<%= @posts.count %>)</h3>
    <% end %>
    <%= will_paginate%>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
<li class="nav-item active">
  <%= link_to new_post_path, class: "nav-link btn btn-outline-success" do %>
    <i class="fab fa-twitter faa-wrench animated"></i>その他
  <% end %>
</li>
<%= @ot_posts.content %>
<%= 'サーフ' %>
<%= @su_posts.content %>
<%= 'スケート' %>
<%= @sk_posts.content %>
<%= 'スノー' %>
<%= @sn_posts.content %>
